.nav-bar{
    display: flex;
    border: solid 3px rgba(252, 81, 132, 0);
    margin:auto;
    width:max-content;
    height: 32px;
}
.nav-bar-item a{
    margin-right: 200px;
    margin-left: 200px;
    font-size: 30px;
    text-decoration: none;
}

.no-margin-left a{
    margin-left: 0 ;
}

.no-margin-right a{ 
    margin-right: 0 ;
}
 
.imageh{
    height: 400px;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://urlzs.com/GyPYq")
    
}

.home h1{
    text-align: center;
    margin:auto;
    padding: 150px;
    color:rgba(202, 194, 194, 0.521);
    font-size: 100px;
}

.courses{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    font-size:80px;
}

.courses a{     
    text-decoration: none;
    color: yellowgreen;
}


.hrdis{
    width:  200 px;
    border-style : dotted;
}

.image-container img:hover {
    
    /*transition:  0.5s linear;
    float:left;*/
    outline: 3px solid  rgba(223, 9, 9, 0.925);
  }

  .image-container {
      display: flex;
      width: max-content; 
    margin-left:auto;
    margin-right:auto;
}

.image-item{
    margin-left:50px;
    margin-right:50px;
}
  .view a{
     width:max-content;
      font-size: 40px;
      margin-left: 50%;
      text-decoration: none;
  }
  
  .feedback p{
    width:max-content;
    font-size: 100px;
    margin-left: 40%;
    color: yellowgreen;
  }
  .bigdiv{
      margin: auto;
      width:max-content;
      display:flex;
  }

  .area{
     
      margin-left:auto;
      margin-right:auto;
         
  }

  .area textarea{
    width: 50%;
    height: 200px;
    box-shadow: 10px 10px rgb(20, 20, 20); 
    margin-left: 350px;
  }
  .tab1{
      margin:auto;
      width:max-content;
  }

  .submit{
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .field1{
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgba(81, 252, 201, 0.39)
  }

  .option{
    width:400px;
    padding-bottom:20px;
  }

  .tab1 .type1{
    width:400px;
    padding-bottom:20px;
  }
  
  .tab1 .labell{
      color: rgba(77, 4, 4, 0.658);
      font-size: 20px;
  }

 
    .strong {
        background-color:rgb(204, 19, 49);
        border:1px solid rgb(110, 9, 224);
        padding:5px;
        /*arrondir les coins en haut à gauche et en bas à droite*/
        -moz-border-radius:10px 0;
        -webkit-border-radius:10px 0;
        border-radius:10px 0;
        }
 
        .italic {
            background-color:rgb(204, 19, 49);
            border:1px solid rgb(110, 9, 224);
            padding:5px;
            /*arrondir les coins en haut à gauche et en bas à droite*/
            -moz-border-radius:10px 0;
            -webkit-border-radius:10px 0;
            border-radius:10px 0;
            }

            .underline {
               
                background-color:rgb(204, 19, 49);
                border:1px solid rgb(110, 9, 224);
                padding:5px;
                /*arrondir les coins en haut à gauche et en bas à droite*/
                -moz-border-radius:10px 0;
                -webkit-border-radius:10px 0;
                border-radius:10px 0;
                }


                .select1 {
                    color: #ffffff;
                    padding: 8px 16px;
                    border: 1px solid transparent;
                    border-color: transparent transparent rgb(207, 26, 26) transparent;
                    cursor: pointer;
                  }
    
  body {
    background-image: Linear-gradient(336deg, rgba(0,0,255,.8), rgba(12, 17, 36, 0.288) 70.71%);
  }
  .image {
    opacity: 1;
  
  }
  .middle {
    
    opacity: 0;
    position: relative;
    top: -200px;
    left: 100px;
  
  }
  
  .image-item:hover > .image{
    opacity: 0.3;
  }
  .image-item:hover > .middle{
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }